<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Welcome back Admin!</h1>
        <p>Nice to see you working from home again. <br>If you are trying to launch the rocket, try logging in from the control panel.</p>
     <!-- The name of the device is "CTFC2THEMOON" in case you forgot! -->
	</div>
</body>
</html>
<!-- what is a user agent btw? -->
